body {
    margin: 0;
}

#topBar {
    height: 80px;
    width: 100%;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 -30px 10px 40px rgba(255, 255, 255,0.85);
}

#topBar a {
    display: block;
    margin: auto;
    line-height: 80px;
    width: 20%;

    font-family: montserrat;
    font-size: 1.8vw;
    text-align: center;
    text-decoration: none;
    color: black;
}

#bilde {
    position: relative;
    height: 87vh;
    margin-top: -80px;
    z-index: -1;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#wrapper div {
    display: inline-block;
}

#innhold {
    float: left;
    height: 100vh;
    width: 25%;
    overflow-y: auto;
    overflow-x: hidden;

    background: #f5f5f5;

    position: sticky;
    position: -webkit-sticky; /*Safari*/
    top: 0;
}

#innhold h1 {
    font-family: montserrat,monospace;
    font-size: 1.7em;

    margin: 40px 1.5vw 40px 1.5vw;
}

#innhold p {
    font-family: montserrat, monospace;
    margin: 0 20px 40px 1.5vw;
}

#oppskrift {
    width: 60%;
}

#oppskrift h1 {
    font-family: montserrat, monospace;
    font-size: 1.5em;

    margin: 40px 3vw 40px 3vw;
}

#oppskrift ol {
    margin: 0 0 0 1.5vw;
    padding: 0 0 0 40px;
}

#oppskrift li {
    padding: 0 0 25px 1vw;
    font-family: montserrat, monospace;
}

@media screen and (max-width: 770px){
    #topBar a {
        font-size: 4vw;
    }

    #innhold {
        width: 100%;
        height: auto;

        position: static;
    }

    #innhold h1 {
        margin: 40px 30px 40px 30px;

        font-size: 1.6em;
    }

    #innhold p {
        margin: 0 0 30px 30px;
    }

    #ingredienser {
        margin: 0 20px 20px 0;
    }

    #oppskrift {
        width: 100%;
    }

    #oppskrift h1 {
        margin: 40px 30px 40px 30px;

        font-size: 1.6em;
    }

    #oppskrift ol {
        margin: 0 5% 40px 40px;
        padding: 0;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}