body {
    margin: 0;
    background: white;
    color: black;
}

#linkhome {
    font-family: montserrat, monospace;
    font-size: 2vw;
    text-decoration: none;
    text-align: center;
    display: block;
    color: black;

    width: 20vw;
    line-height: 80px;
    margin: auto;
}

form > input {
    display: block;
    margin: auto;
    height: 20px;
    padding: 5px;
    border: none;
    background: #ebebeb;
}

#oppskriftInput h2 {
    grid-column: span 2;
    font-family: montserrat;
    margin-left: 10px;
}

#oppskriftInput button {
    grid-column: span 2;
}

#oppskriftInput div div {
    grid-column: span 2;
}

#oppskriftInput label {
    margin-left: 10px;
}

#oppskriftInput p {
    text-align: center;
}

#innholdInput {
    width: 20%;
    display: grid;
    grid-template-columns: 4fr 6fr;
}

#anvisningsInput {
    width: 80%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 110px;
}

#ingredienser {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

#anvisning {
    display: grid;
    grid-template-columns: 1fr 15fr;
}

#checkboxer {
    width: 20%;
    margin: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr;
}

#checkboxer input:hover {
    cursor: pointer;
}

#checkboxer label:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {
    #innholdInput {
        width: 100%;
        grid-template-columns: 1fr 7fr;
    }

    #anvisningsInput {
        position: static;
        width: 100%;
        margin: 0;
    }
}